[Unit]
Description=Add IP addresses in DNS replies into nftables sets
After=network.target

[Service]
Type=exec
User=unbound
RuntimeDirectory=dnsnfset
Environment=RUST_LOG=dnsnfset=debug
ExecStart=/opt/dnsnfset/dnsnfset -f rules.conf -s /run/dnsnfset/dnstap.sock
WorkingDirectory=/opt/dnsnfset

AmbientCapabilities=CAP_NET_ADMIN
RestrictAddressFamilies=AF_NETLINK AF_UNIX

PrivateDevices=true
ProtectSystem=strict 
ProtectHome=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target

